<h1>OnChange Content Moderation</h1>
<style>
section {
    width:50%;
    margin:10px;
}
p{
    font-weight:500;
    font-size:20px;
}
</style>

<section id="section1">
  <p contenteditable="true">The COVID-19 pandemic has had a significant impact on the world, causing widespread illness and death.</p>
</section>
<hr>
<section id="section2">
  <p contenteditable="true">The outbreak of the novel coronavirus has resulted in a global health crisis, with governments and organizations working tirelessly to contain its spread.</p>
</section>
<hr>

<section id="section3">
  <p contenteditable="true">The emergence of the coronavirus has led to a multitude of challenges, including economic downturns, travel restrictions,  and the need for social distancing measures.
  The coronavirus, a highly contagious virus,<br> has disrupted daily life and brought about unprecedented changes in how we live and interact with others.</p>
</section>
<hr>

